.contato-container{
    display: flex;
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 23%;
}

form label {
    display: block;
    font-size: var(--tamanho-fonte-principal);
}

.titulo-contato{
    text-align: center;
    margin-bottom: 1em;
    font-size: var(--tamanho-fonte-titulo2);
    font-weight: 600;
}

.entrada, .mensagem{
    margin: 0.3em 0 1em 0;
    width: 20.4em;
    padding: 0.5em 0.5em;
    font-size: 0.9em;
    border-radius: 8px;
    box-sizing: border-box;
}

.mensagem{
    width: 20.3em;
    display: block;
    font-size: var(--tamanho-fonte-principal);
}

.formulario-botao{
    display: block;
    margin-top: 2em;
    padding: 0.8em 0.4em;
    width: 5.4em;
    font-size: var(--tamanho-fonte-principal);
    border: none;
    border-radius: 10px;
    color: var(--cor-fonte);
    background-color:var(--cor-botao);
    text-align: center;
    font-weight: 600;
    
}

.formulario-botao:hover, .link-botao:hover{
    background-color:var(--cor-botao-hover);

}
.redes-container{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.link-redes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-botao{
    display: block;
    text-decoration: none;
    color:var(--cor-fonte);
    background-color: var(--cor-de-fundo-menu);
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    font-size: var(--tamanho-fonte-principal);
    font-weight: 600;
    width: 10em;
}

.email-container{
    margin-top: 2em;
    text-align: center;
    font-size: var(--tamanho-fonte-principal);
}

.texto-email{
    margin-bottom: 1em;
    font-weight: 600;
}

.icone-email{
    width: 2%;
}
