
.titulo-curso{
    font-size: var(--tamanho-fonte-titulo2);
    font-weight: 600;
    color: var(--cor-botao);
}

.container-texto-formacao{
    display: inline-block;
    width: 23%;
}

.texto-instituicao{
    color: var(--cor-botao);
    font-weight: 600;
}

.texto-curso{
    font-size: var(--tamanho-fonte-principal);
    margin-bottom: 0.2em;
    margin: 0.2em 0 0.2em 0;
}

.container-cursos{
    margin-top: 2em;
}

@media (max-width:1920px) {
    .container-texto-formacao {
        width: 28%;
    }

}