.portifolio-projeto{
    height: 70vh;
}

.titulo-secundario{
    font-size: var(--tamanho-fonte-titulo2);
    text-align: center;
    font-weight: 600;
    color: var(--cor-botao)
}

.container-portifolio-conteudo{
    margin: 0 0 0 4em ;
}
.container-portifolio-conteudo2{
    margin: 0 4em 0 0 ;
}


.container-portifolio-imagem{
    width: 20%;
    text-align: end;
}

.portifolio-imagem{
    width: 100%;
}

.container-portifolio-texto-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 4em;
}

.texto-portifolio{
    display: flex;
    align-items: center;
    font-size: var(--tamanho-fonte-principal);
    padding: 0 5em;
    text-align: center;
    
}

.container-portifolio-links{
    display: flex;
    justify-content: center;
    gap: 4em;
}

.portifolio-links{
    text-align: center;
}

.container-portifolio-imagem-projeto2{
    width: auto;
}

@media (max-width:1920px) {
    .container-portifolio-imagem{
        width: 30%;
        text-align: end;
    }

    .container-portifolio-texto-links{
        width: 60%;
    }
}